<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-toggle>Marcou nossas presenças?</ion-toggle>
    </ion-item>
    <ion-item>
      <ion-toggle>e do resto da turma?</ion-toggle>
    </ion-item>
    <ion-item>
      <ion-toggle>ja tomou agua hoje?</ion-toggle>
    </ion-item>
  </ion-list>
<H1>Obrigado tenha uma boa noite!</H1>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
